* {
	margin: 0;
	padding: 0;
	border: 0;
}

.banner .space {
	z-index: 0;
	background-image: url("../img/space.jpg");
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner h1 {
	z-index: 2;
	text-align: center;
	color: white;
	position: absolute;
	top: 110px;
	width: 100%;
	font-family: 'Raleway', 'Century Gothic', 'Arial';
	font-size: 74px;
	line-height: 50px;
	letter-spacing: 3px;
	text-shadow: rgba(0, 0, 0, 10) 5px 5px 2px;
}

.banner h2 {
	z-index: 2;
	text-align: center;
	position: absolute;
	top: 180px;
	width: 100%;
	font-variant: italic;
	font-family: 'Raleway', 'Century Gothic', 'Arial';
	font-size: 30px;
	line-height: 50px;
	letter-spacing: 3px;
	text-shadow: rgba(0, 0, 0, 10) 5px 5px 2px;
}

.banner a {
	color: #d3d3d3;
}

.banner a:hover {
	color: white;
}

.posts {
	padding: 70px 10px 40px 40px;
}

.posts h1 {
	text-align: center;
	padding: 40px 10px 40px 40px;
	font-family: 'Raleway', 'Century Gothic', 'Arial';
	font-size: 40px;
}

.posts h2 {
	text-align: center;
	padding: 40px 10px;
	font-family: 'Raleway', 'Century Gothic', 'Arial';
	font-size: 30px;
}

.post1 {
	width: 95%;
}

.post1 h1 {
	text-align: left;
	padding: 20px 140px 10px 250px;
	font-family: 'Raleway', 'Century Gothic', 'Arial';
	font-size: 35px;
}

.post1 h2 {
	text-align: left;
	padding: 0px 140px 10px 250px;
	font-family: 'Raleway', 'Century Gothic', 'Arial';
	font-size: 25px;
}

.post1 p {
	text-align: left;
	padding: 5px 140px 10px 250px;
	font-family: 'Raleway', 'Century Gothic', 'Arial';
	font-size: 20px;
	line-height: 1.4;
}